<nav class="navbar">
  <div class="logo" (click)="irAHome()">
    ✈️ AvionGram
  </div>

  <div class="nav-links" *ngIf="isLogged">
    <a routerLink="/home">Inicio</a>
    <a routerLink="/profile/{{ storageService.getSession('user') }}">Perfil</a>
    <span class="username">Hola, {{ storageService.getSession('user') }}</span>
    <button (click)="logout()">Cerrar sesión</button>
  </div>

  <div *ngIf="!isLogged" class="nav-links">
    <a routerLink="/login">Iniciar sesión</a>
    <a routerLink="/register">Registrarse</a>
  </div>
</nav>
